/* .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .dashboard-container {
    width: 200px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
   */
   .cards-container {
    flex-grow: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* Adjust margin-left as needed */
  }
  
  .cards-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cards-container form {
    display: flex;
    flex-direction: column;
  }
  
  .cards-container form div {
    margin-bottom: 10px;
  }
  
  .cards-container form label {
    font-weight: bold;
  }
  
  .cards-container form input[type="date"],
  .cards-container form input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .cards-container form button {
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cards-container form button:hover {
    background-color: #0056b3;
  }
  